* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.loader {
    height: 20vh;
    width: 100vw;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;


}

.left {
    height: 30px;
    width: 30px;
    background: red;
    border-radius: 100px;
    animation: loader1 1s linear infinite both;
    /* transform-origin: left bottom; */


}

.right {
    height: 30px;
    width: 30px;
    background: blue;
    border-radius: 100px;
    animation: loader1-2 1s linear infinite both;



}

.loader2 {

    height: 20vh;
    width: 100vw;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding-right: 15%;


}

.dot {
    height: 20px;
    width: 40px;
    background: yellowgreen;
    border-radius: 100px;
    animation: loader2 1s ease-out infinite alternate;



}

.loaderslider {
    height: 35px;
    width: 200px;
    background: #bababa;
    margin-left: 40vw;
    margin-top: 30px;
    border-radius: 30px;
}

.loaderin {
    height: 35px;
    width: 35px;
    background: red;
    border-radius: 30px;
    animation: loaderin 1.5s ease-in-out infinite alternate both;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.wheel {
    height: 100px;
    width: 100px;
    background-image: url(./assets/wheel.png);
    background-size: contain;
    margin-left: 40vw;
    margin-top: 30px;
    animation: wheel 7s linear infinite;
    background-repeat: no-repeat;
    transform-origin: center center;

}

